.container{
    width:90vw;
    height:auto;
    padding:2rem;
    margin-bottom: 1rem;
    background-color:whitesmoke;
    text-align: center;
    display:flex;
    justify-content: center;
}

.name{
    color:maroon;
    font-size: 2rem;
    font-weight: bolder;
}

.p{
    color:black;
    font-size: 1.5rem;
    font-weight: 400;
}

.button{
    margin:5px;
    width:80px;
    height:40px;
    border:none;
    border-radius:10px;
    background-color: aqua;
}

.update_form{
    display:flex;
    flex-direction: column;
    width:40vw;
    padding:2rem;
}

.update_form input{
    width:100%;
    border-top:none;
    border-left: none;
    border-right:none;
    margin-bottom: 1rem;
}

.update_form input:focus{
   outline:none;
}